<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="myApp" ng-controller="todoCtrl">

      Hi
          
    <a href="#!london">City London</a>
    <a href="#!new-york">City New York</a>
    <br/>

    <div ng-view></div>

    <form ng-submit="todoAdd()">
      <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
      <button type="submit" value="Add New">Add</button>
    </form>
  
    <br/>
  
    <div ng-repeat="x in todoList">
        <button ng-click="delete(x)">delete todo</button> 
        <span ng-bind="x.todoText"></span>
        <button ng-click="edit(x)" ng-model="show">Edit</button>
        <input ng-show="x.edit" type="text" value="{{x.todoText}}" ng-model="x.todoText">
        <button ng-show="x.edit" ng-click="makeChanges(x)">click here to change</button>
    </div>



    


      <div ng-controller="serviceController">
        <div ng-repeat="x in arr">
                <span ng-bind="x.userId"></span>
                <span ng-bind="x.title"></span>
        </div>
        <br/>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>


    <div ng-controller="level1controller">
        
        <input type="text" ng-model="txt1">
        <button ng-click="broadcaster()">Submit</button>

        <div>
                Value received from child is : {{v}}
        </div>

            
            <div ng-controller="level2controller">
                    <input type="text" ng-model="txt2">
                    <button ng-click="emitter()">Submit</button>
                    <div>
                            Value received from parent is : {{v}}
                    </div>
            </div>    
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div ng-controller="sibling1">
        <input type="text" ng-model="sibcon" placeholder="add good thoughts">
        <button ng-click="sibfunc()">Submit</button>
    </div>

    <br/>

    <div ng-controller="sibling2">
        Data fetched from sibling controller
            <ul>
                <li ng-repeat="x in list">
                    {{x}}
                </li>
            </ul>
    </div>






























    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
